---
CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wno-unknown-pragmas # ignore GCC-specific pragmas
    - -ferror-limit=0 # debug clangd failures without it stopping
    - -include
    - clangd_compat.hpp
    # - -fgnuc-version=15.2.0
    # - -stdlib=libstdc++
    # - -std=gnu++23
  Remove:
    - -Werror
    # - -include
    - -mword-relocations
    - -Ofast
    - -mtp=soft

InlayHints:
  ParameterNames: Yes
  DeducedTypes: No
Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    FastCheckFilter: Loose
    Remove: [readability*, bugprone-dynamic-static-initializers]
---
If:
  PathMatch:
    - .*/source/program/symbols/(game|hooks|items|player_actor)\\.inc
CompileFlags:
  Add:
    - -include
    - source/program/symbols/base.hpp
---
If:
  PathMatch: [.*\.h(pp)?, .*\.c(pp)?]
  PathExclude: source/program/.*
Diagnostics:
  Suppress: '*'
  ClangTidy:
    Remove: [readability*]
